/*etiquetas, clases, #id*/
h1, article{
    text-decoration: underline;
}

/*todos los p que sean hijos dentro de un article*/
article p{
    background-color: aquamarine;
}

/* > hace referencia a los primeros hijos*/

ol > li {
    color: rebeccapurple;
}

/*hijos directos*/
article > p {
    color:red 
}

#caja > span{
    background-color: yellow;
}

/*PSEUDOCLASES*/
/*nth-of-type( puede recibir un numero o indicador)*/
/*odd - impares*/
tr:nth-of-type(odd){
    background-color: chocolate;
}

/*even - pares*/
tr:nth-of-type(even){
    background-color: yellow;
}