<p>{{ texto }}</p>

<ul>
  <!--directivas-->
  <li *ngFor="let act of actividades">
    {{ act }}
  </li>
</ul>

<!-- <table>
  <tr *ngFor="let act of actividades; let indice = index">
    <td>{{ indice + 1 }}</td>
    <td>{{ act }}</td>
  </tr>
</table>
<br /> -->

<!--ngIf en caso se cumpla adquiere la propiedad indicada y si no puede utilizarng-template-->
<div *ngIf="losQuiere; else nolosQuiere">
  Van a tener una navidad acompañada
</div>
<br />

<!--comodin-->
<ng-template #nolosQuiere> Party Hard!!! </ng-template>

<br />

<!--PropertyBindung []: mandar datos del .ts hacia el .html-->
<img [src]="urlImagen" alt="imagencita" />
<br />
<input [(ngModel)]="nuevaActividad" type="text" placeholder="Ej. Tomar Fotos" />
<!--EventBinding (): mandar datos del .html hacia el .ts-->
<button (click)="agregarActividad()">Agregar Actividad</button>
