*{
    border: 1px solid black;
}


h1 {
    color:peru;
    width: 50%;
    border: 1px solid blue;
    height: 20%;
}

h2 {
    /*hexadecimal trabaja en pares*/
    /*color: #RR GG BB*/
color: #555;
}

h3 {
    color: rgb(255 , 85, 197);
}

p {
    /*Matiz, saturacion e iluminacion*/
    background-color: hsl(178, 100%, 74%);
}

/* Medidas */

header {
    width: 400px;
    height: 200px;
}